* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #1b1b1b;
    color: #fff;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}
#home {
    background-color: #1b1b1b;
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 240px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 25%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 50px;
    font-weight: 600;
    /* margin-top: 20px; */
    color: antiquewhite;
}
.header-text p {
    /* font-weight: 600; */
    margin: 0px;
    color: antiquewhite;
}

.header-text h1 span {
    color: #ff004f;
}

/* -- ------------About--------------- -- */

#about {
    padding: 80px 0;
    color: #ababab;
    background-color: #1b1b1b;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul{
    padding-left: 0px;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* -- ------------About--------------- -- */
/* ===================Services================= */
#services {
    padding: 30px 0;
    background-color: #1b1b1b;
}
#services button{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff004f;
    color: white;
}
#services p{
  text-align: justify;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    text-align: center;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin: 15px auto;
    display: block;
    width: fit-content;
    color: antiquewhite;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: antiquewhite;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
    cursor: pointer;
}
#services button:hover{
    background-color: #ff004f;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.546);
    color: white;
}

/* ===================Services================= */
/* ===================Portfolio================= */
#portofolio {
    padding: 50px 0;
    background-color: #1b1b1b;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.layer a img {
    width: 35px;
    margin-top: 12px;
    margin-left: 12px;
}

.layer a {
    margin-top: 20px;
    /* color: #ff004f; */
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* ===================Portfolio================= */
/* ===================Contact================= */
#contact{
    background-color: #1b1b1b;
}
.contact-left {
    flex-basis: 35%;
    background-color: #1b1b1b;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}

.social-icon a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    background: #ff004f;
    margin-right: 190px;
    color: white;
}

.btn.btn3 {
    background: #ff004f;
    margin-left: 0;
}

form .btn3 {
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 500;
    margin-top: 20px;
}

.copyright span {
    font-size: 20px;
    font-weight: bold;
    color: #ff004f;
}

nav .fa-solid {
    display: none;
}

/* ===================Contact================= */
/* ======================Css for Small Screen======================= */

/* @media (max-width: 1440px){
    .header-text {
        margin-top: 20%;
        font-size: 30px;
    }
} */

@media (max-width: 1080px){
    .header-text {
        margin-top: 35%;
        font-size: 30px;
    }
}

@media (max-width: 768px){
    .logo {
        width: 154px;
    }
    .header-text h1 {
        font-size: 40px;
        font-weight: 600;
        margin-top: 20px;
        color: antiquewhite;
    }
}
@media screen and (max-width :600px) {
    #home {
        background-image: url(images/phone-background.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
   

}
@media (max-width: 425px){
    .header-text {
        margin-top: 118%;
        font-size: 20px;
    }
}
@media (max-width: 375px){
    .header-text h1 {
        font-size: 25px;
        font-weight: 600;
        margin-top: 10px;
        color: antiquewhite;
    }
    .header-text {
        margin-top: 118%;
        font-size: 18px;
    }
}
@media (max-width: 325px){
    .header-text {
        margin-top: 158%;
        font-size: 18px;
    }
}

/* ======================Css for Small Screen======================= */
#msg{
    display: block;
}